<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit List Item</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Edit Warehouse</h1>
    <br>
    <form action="/warehouses/<%= warehouse.id %>/edit" method="post">
      Warehouse Name:<br>
      <input type="text" name="warehouseName" value= "<%= warehouse.warehouseName %>">
      <br>
      Location Coordinate:<br>
      <input type="text" name="location" value="<%= warehouse.location %>">
      <br>
      Contact Number:<br>
      <input type="text" name="phoneNumber" value="<%= warehouse.phoneNumber %>">
      <br>
      Contact Email:<br>
      <input type="text" name="email" value="<%= warehouse.email %>">
      <br>
      Address:<br>
      <input type="text" name="address" value="<%= warehouse.address %>">
      <br>
      <br><br>
      <input type="submit" value="Submit">
  </form>
</body>
</html>